@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    font-family: 'poppins',sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    height: 150vh;
    margin-top: 10px;
    
    
}

.container{
    max-width: 3840px;   
}

.navbar{
    height:100px ;
    border-bottom: solid 2px #F58220;
   
}

.navbar .container{
    height: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-bottom: solid 2px #F16692;
    margin: 0 auto;
    padding: 0 30px;
    
}


.heading{
    display: flex;
    align-items: center;
}
.heading h1{
    font-size: 1.5rem;
}
.nav{
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
    
}

li{
    margin: 0 20px;
}

a{
    text-decoration: none;
    color: #00929E;
    font-size: 18px;
    font-weight: bold;
}

a:hover{
    position: relative;
    top:-5px;
}
.toggle{
    display: none;
}
.header
{
    min-height: 400px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
    margin-top:10px ;
}
.header h1{
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.5;
}
.header img{
    max-width: 400px;
}
.header .container{

    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.boxes-1{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}
.boxes-1 .container{
    display: flex;  

}

.boxes-1 .container .box{
    background-color:  #F16692;
    color: white;
    border: solid 2px #F58220;
    display: flex;
    flex-wrap: wrap;
    padding: 15px 20px;
    margin: 20px 10px;
    border-radius: 10px;    
}

.boxes-2{
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    align-items: center;

}
.boxes-2 h2{
    margin-bottom: 15px;
}
.boxes-2 .container{
    display: flex;
}

.boxes-2 .container .box{
    background-color:  #00929E;
    color: white;
    border: solid 2px #F58220;
    display: flex;
    flex-wrap: wrap;
    padding: 15px 20px;
    margin: 20px 10px;
    border-radius: 10px; 
    flex-direction: column;
    
}


.boxes-2 .container .box h2{
    font-size: 20px;
}
.boxes-2 .container .box ul{
    list-style-type: none;
}

@media(max-width:768px){
    .header .container{
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }

    .heading h1{
        font-size: 1rem;
    }

    a{
        font-size: 10px;
    }

    .header h1{
        font-size: 1.5rem;
        line-height: 1.8;
    }

    .header p{
        /* line-height: 1.5; */
        margin-bottom: 10px;
    }

    /* .header img{
        max-width: 300px;

    } */

    .boxes-1 .container{
        flex-direction: column;


    }

    .boxes-1 h2{
        font-size: 1.2rem;
        line-height: 1.8;
    }
    .boxes-2 .container{
        flex-direction: column;
        text-align: center;
    }


}

@media(max-width:500px){

    .heading h1{
        font-size: 8px;
    }

    .nav{
        display: block;
    }


    a{
        font-size: 8px;
    }

    .header h1{
        font-size: 1.5rem;

    }

    .header p{
        font-size: 0.9rem;
        line-height: 1.5;
        
    }

    .header img{
        margin: 10px 0;
        width: 90%;
        height: 90%;

    }

    .header img{
        margin-bottom: 10px;
    }

    /* .boxes-1 .container{
        text-align: start;
    } */

    .boxes-1 .container h2{
        font-size: 1rem;

    }

    .boxes-1 .container .box ul li{
        font-size: 0.9rem;
    }
    


    .boxes-2 .container{
        text-align: start;
    }

    .boxes-2 h2{
        font-size: 1.2rem;
    }

    .boxes-2  .container .box h2{
        font-size: 1.1rem;
    }

    .boxes-2  .container .box h3{
        font-size: 1rem;
    }

    .boxes-2  .container .box ul li{
        font-size: 0.9rem;
        line-height: 1.5;
    }
    

} 

@media(max-width:400px){

    .heading h1{
        font-size:7px;
    }

    .nav a{
        font-size: 6px;
    }

    .header h1{
        font-size: 1.2rem;
    }

    .header p{
        font-size: 0.8rem; 
        line-height: 1.7 ;   
    }

    .boxes-1 .container h2{
        font-size:0.9rem;
    }
    .boxes-1 .container .box ul li{
        font-size: 0.8rem;
        line-height: 1.8;
    }
    .boxes-2  .container .box h2{
        font-size: 1rem;
    }

    .boxes-2  .container .box h3{
        font-size: 0.9rem;
    }

    .boxes-2 .container .box ul li{
        font-size: 0.8rem;
        line-height: 1.8;
    }


}