@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    font-family: 'poppins',sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    height: 150vh;
    margin-top: 10px;
    
    
}

.container{
    max-width: 3840px;   
}

.navbar{
    height:100px ;
    border-bottom: solid 2px #F58220;
}

.navbar .container{
    height: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-bottom: solid 2px #F16692;
    margin: 0 auto;
    padding: 0 30px;
}

.heading{
    display: flex;
    align-items: center;
}
.nav{
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
    position: sticky;
}

li{
    margin: 0 20px;
}

a{
    text-decoration: none;
    color: #00929E;
    font-size: 18px;
    font-weight: bold;
}

.header
{
    min-height: 400px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
    margin-top:10px ;
}
.header h1{
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}
.header img{
    max-width: 400px;
}
.header .container{

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.boxes-1{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}
.boxes-1 .container{
    display: flex;  

}

.boxes-1 .container .box{
    background-color:  #F16692;
    color: white;
    border: solid 2px #F58220;
    display: flex;
    flex-wrap: wrap;
    padding: 15px 20px;
    margin: 20px 10px;
    border-radius: 10px;    
}

.boxes-2{
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    align-items: center;

}
.boxes-2 h2{
    margin-bottom: 15px;
}
.boxes-2 .container{
    display: flex;
}

.boxes-2 .container .box{
    background-color:  #00929E;
    color: white;
    border: solid 2px #F58220;
    display: flex;
    flex-wrap: wrap;
    padding: 15px 20px;
    margin: 20px 10px;
    border-radius: 10px;    
}

.boxes-2 .container .box ul{
    list-style-type: none;
}